.button--rounded {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 50%;
  clip-path: polygon(
    50% 0%,
    82% 11%,
    100% 50%,
    82% 89%,
    50% 100%,
    18% 89%,
    0% 50%,
    18% 11%
  );
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}
